/*
 * Copyright (c) 2024 rossw42
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
// -----------------------------------------------------------------------------------------
// |  1  |  2  |  3  |  4  |  5  |
// |  6  |  7  |  8  |  9  |  0  |
// | ESC | SPC | ENT | TAB | DEL |
            bindings = <
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5
                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                &kp ESC   &kp SPACE &kp ENTER &kp TAB   &mo 1
            >;
        };

        function_layer {
            display-name = "Function";
// -----------------------------------------------------------------------------------------
// | F1  | F2  | F3  | F4  | F5  |
// | F6  | F7  | F8  | F9  | F10 |
// |BTCLR| BT1 | BT2 | BT3 |     |
            bindings = <
                &kp F1       &kp F2       &kp F3       &kp F4       &kp F5
                &kp F6       &kp F7       &kp F8       &kp F9       &kp F10
                &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans
            >;
        };
    };
};
